@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply bg-slate-800 border-2  w-full border-blue-400 py-0.5 px-2 rounded text-lg
                text-center sm:text-left focus:outline-none focus:border-[#6741d9];
  }
  body {
    @apply bg-gradient-to-tr from-blue-950 to-black bg-fixed font-medium text-white
          cursor-default selection:bg-purple-700 tracking-wide;
  }

  html {
    @apply bg-gradient-to-tr from-blue-950 to-black  min-h-screen
  }

  th {
    @apply text-sm sm:text-base tracking-wider
  }
}

.active{
  @apply border-b-2 border-sky-300 
}

.loader {
  position: relative;

}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 4px 0 #0378ff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}



/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 15px; /* width of the scrollbar */
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #250744; /* color of the track behind the scrollbar */
  box-shadow: inset 0 0 4px rgba(61, 35, 134, 0.301);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6241c5; /* color of the scrollbar handle */
  box-shadow: inset 0 0 4px #06303d;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5234ac; /* color of the scrollbar handle on hover */
}

